@font-face {
  font-family: Inter;
  font-family: Lora;
  font-family: Roboto;
  font-family: Inconsolata;
  font-family: Montserrat;
  src: url(../src/assets/fonts/Inter_28pt-Regular.ttf);
  src: url(../src/assets/fonts/Lora-Bold.ttf);
  src: url(../src/assets/fonts/Roboto-Regular.ttf);
  src: url(../src/assets/fonts/Inconsolata-Regular.ttf);
  src: url(../src/assets/fonts/Montserrat-Regular.ttf);
}

body {
  height: screen;
}

@import "tailwindcss";
@tailwind utilities;

@theme {
  --font-inter: Inter, "sans-sarif";
  --font-lora: Lora, "sans-sarif";
  --font-roboto: Roboto, "sans-sarif";
  --font-inconsolata: Inconsolata, "sans-sarif";
  --font-montserrat: Montserrat, "sans-sarif";
}

.logo {
  margin: 2.5rem;
  font-size: 1.875rem;
  font-weight: bold;
}

.social {
  background-color: #ffffff;
  color: #000000;
  height: 1.75rem;
  width: 1.75rem;
  border-radius: 9999px;
  justify-content: center;
  padding: 0.125rem;
  margin-bottom: 0.3rem;
}

.title {
  font-family: "Lora", sans-serif;
  color: #d1d5db;
  position: relative;
  cursor: pointer;
  font-weight: 400;
}
.title:hover {
  font-weight: bold;
}
.sideSocial {
  position: relative;
  height: 1.5rem;
  width: 1.5rem;
  padding: 3px;
  border: 1px solid rgb(181, 176, 176);
  border-radius: 50%;
}

.exp {
  margin-top: 0.5rem;
  font-family: "Inter", sans-serif;
  font-size: 0.775rem;
}

.inner {
  width: 35rem;
  background-color: #000;
  margin-left: 1.25rem;
  margin-top: 1.75rem;
  color: #fff;
  font-size: 0.85rem;
  padding: 2rem 4rem;
  font-weight: 600;
}
.h3class {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-style: italic;
  font-size: 0.875rem;
  line-height: 1.25rem;
}
.experience {
  display: flex;
  gap: 10rem;
  margin-bottom: 0.5rem;
}
.textclass {
  height: 5vw;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2rem;
  padding-top: 1rem;
  margin-left: 0.5rem;
}
.h1full {
  font-weight: 400;
  font-size: 1.8rem;
  font-family: "Montserrat", sans-serif;
}
.h1short {
  font-weight: 400;
  font-size: 1.5rem;
  font-family: "Montserrat", sans-serif;
}
.imgclass {
  width: 12rem;
  height: 12rem;
  margin-left: 5rem;
}
.arrow {
  width: 2.5rem;
  height: 2.5rem;
  border: none;
  border-radius: 1.5rem;
  background-color: #f0c2c2;
  padding-left: 0.375rem;
  justify-content: center;
  color: #000;
}
